{% extends 'base.html.twig' %}

{% block body %}
    <h2>Все посты</h2>

    <a href="{{ path('add_post') }}">Добавить пост</a> <br>


    {% for post in posts %}
        {{ post.data|date("m/d/Y") }} <br>
        {{ post.title|title }} <br>
        {{ post.text|slice(0,200) }} <br><br>
        <a href="{{ path('postOne', {'id': post.id} ) }}">Читать далее </a> <br>
        <hr>
    {% endfor %}
{% endblock body %}

