{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('info') %}
        <p>{{ message }}</p>
    {% endfor %}

    <h1>Добавить новый пост</h1>
    <div class="container-fluid">


                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-default">Сохранить</button>
                {{ form_end(form) }}

                <a href="{{ path('homepage') }}">Вернуться на главную</a> <br>

    </div>
{% endblock %}

