{% extends 'base.html.twig' %}
{% block title %}
    Добавляем комментарий - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        {% for message in app.flashes('comm') %}
            <p><h3><i><b>{{ message }}</b></i></h3></p>
        {% endfor %}

        <h2>Добавить новый комментарий</h2>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-info btn-block">Добавить</button>
                {{ form_end(form) }}
                <a href="{{ path('homepage') }}">Вернуться на главную</a>
            </div>
        </div>
    </div>
{% endblock %}

