{% extends 'base.html.twig' %}

{% block body %}
    <h2>Читаем пост полностью</h2>
        {{ post.data|date("m/d/Y") }} <br>
        {{ post.title }} <br>
        {{ post.text }} <br><br>

    {% for comment in post.comments %}
        {{ comment.dataComm|date("m/d/Y") }} <br>
        {{ comment.nikName }} <br>
        {{ comment.textComm }} <br>

    {%  endfor %}

    <a href="{{ path('add_comm', {'id': post.id }) }}">Добавить комментарий</a>

    <a href="{{ path('redact', {'id': post.id }) }}">Править пост</a> <br>

    <a href="{{ path('homepage') }}">Вернуться на главную</a> <br>

{% endblock body %}