{% extends 'base.html.twig' %}

{% block body %}
    <h2>Читаем пост полностью</h2>
        {{ post.data|date("m/d/Y") }} <br>
        {{ post.title }} <br>
        {{ post.text }} <br><br>

    <a href="{{ path('redact', {'id': post.id }) }}">Править пост</a> <br>

    <a href="{{ path('homepage') }}">Вернуться на главную</a> <br>

{% endblock body %}