{% extends 'base.html.twig' %}
{% block title %}
    Редактируем пост - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Редактировать пост</h1>
        <div class="container-fluid">
            {% for message in app.flashes('info') %}
                <p>{{ message }}</p>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success btn-block">Сохранить</button>
                    {{ form_end(form) }}
            <a href="{{ path('postOne', {'id': post.id}) }}">Вернуться к просмотру</a> <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

